.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc; 
}

.contentdemoBasicUsage div.demo-content {
  height: 600px; 
}
.contentdemoBasicUsage div[ng-controller] {
  height: 100%;
  padding-bottom: 15px; 
}
.contentdemoBasicUsage md-content {
  padding: 24px; 
}