<ion-view cache-view="false" title="Sign Something">
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" ng-model='user.firstname' placeholder="Joey">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model='user.lastname' placeholder="Doe">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" ng-model='user.name' placeholder="420buhlazeit">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" ng-model='user.pword' placeholder="tacotown">
      </label>   
    </div>
    <div class="padding">
        <button ng-click="signup(user)" class="button button-block button-royal">
         Sign Up
        </button>
    </div> 

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" ng-model='user.username' placeholder="bonobobobby">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" ng-model='user.password' placeholder="123456789">
      </label>   
    </div>
    <div class="padding">
        <button ng-click="signin()" class="button button-block button-royal">
         Login
        </button>
    </div>   
  </ion-content>
</ion-view>
