<div class="md-padding checkboxdemoSyncing" ng-cloak="" style="min-height:270px" ng-app="fickle.resource">

  <div layout="row" layout-wrap="">
    <div flex="100" flex-gt-sm="50" layout="column">
      <div layout="row" layout-wrap="" flex="">
        <div flex="50" ng-repeat="resource in results">
          
          <div>
            <div>
             <img src="{{ resource.thumbnail }}">
              <h1>{{ resource.name }}</h1>
            </div>
            <div>
              Info: {{ resource.feed.description }}
            </div>

            <br>
          <div class='original'>url: {{resource.url}}</div>
          <i ng-click="likeResource(resource.name)"class="material-icons">thumb_up</i>
          <i ng-click="dislikeResource(resource.name)" class="material-icons">thumb_down</i>
          </div>
          <button ng-click="markAsSeen(resource.name)"> Play </button>
          <button ng-click="next()">Next</button>
          <div ng-repeat="episode in resource.episodes">
            Title: {{ episode.title }} <br>
            <a href="{{episode.enclosure.link}}"><button>Play Episode</button></a>


          </div>
          </div>


      </div>
    </div>
  </div>
</div>
