<div class="md-padding checkboxdemoSyncing" ng-cloak="" style="min-height:270px" ng-app="fickle.resource">

  <div layout="row" layout-wrap="">
    <div flex="100" flex-gt-sm="50" layout="column">
      <div layout="row" layout-wrap="" flex="">
        <div flex="50" ng-repeat="resource in results">
          <div>
            <div>
             <img src="{{ resource.thumbnail }}">
              <h1>{{ resource.name }}</h1>
            </div>
            <div>
              Info: {{ resource.feed.description }}
            </div>
            <br>
          <div class='original'>url: {{resource.url}}</div>
          <button ng-click="likeResource(resource.name); select(resource.name); next()"  class="btn btn-default btn-sm" >
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </button>
          <button ng-click="dislikeResource(resource.name); select(resource.name); next()" ng-disabled="abled" ng-model="abled" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
        </button>
          </div>
          <button ng-click="next()">Next</button>
          <div ng-repeat="episode in resource.episodes | orderBy:parseDate">
            Title: {{ episode.title }} 
            <a ng-click="markAsSeen(resource.name)" href="{{episode.enclosure.link}}"><i id = "play" class="material-icons">play_circle_filled</i></a>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>

