<ion-view view-title="Enki">
<ion-nav-bar class="bar-royal">
</ion-nav-bar>
<ion-content>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="myModel.searchString" ng-change="search()">
  </label>
    <a ng-click="clearSearch()"><button class="button"> Clear </button></a>
  </div>
    <div ng-repeat="resource in results2">
        <div class="item item-button-right">
            {{ resource.text }}
            <button ng-click="sendTags(resource)" class="button button-royal">
                <i class="icon ion-search"></i>
            </button>
        </div>
    </div>
<div id="warning" class="item item-button-center"> Please Search for a Podcast :)</div>
<div class="list card" id="pod">
  <div class="item item-body">
    <img style="display:block; margin:auto;" src="{{results[1]}}">
  
  <input id="urlLink" hidden="true" value="{{results[3]}}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script>
        $("#like").on("click", function(){
            $("#like").css("color", "green")
        })
        $("#dislike").on("click", function(){
            $("#dislike").css("color", "red")
        })
        $("#next").on("click", function(){
            $("#dislike").css("color", "#7C7C7C")
            $("#like").css("color", "#7C7C7C")
        })

      var activate = function(){
        setTimeout(function(){
          var urlLINK = $("#urlLink").val();

            $("#audioPlayer2").html("<audio controls src='"+urlLINK+"'></audio>")

        }, 1000)
      }
      activate();
      $(".refresh").on("click", function(){
        activate();
      })
    </script>
  <div>
    <h2 style="text-align: center">{{results[2]}}</h2>
    <p style="text-align: center">On {{results[0]}}</p>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item">
        <i id="like" class="icon ion-thumbsup" ng-click="likeResource(results[2],results[0]); select(results[2])"></i>
      </a>
      <a class="tab-item">
        <i id="dislike" class="icon ion-thumbsdown refresh" ng-click="dislikeResource(results[2]); select(results[2]); next()"></i>
      </a>
      <a class="tab-item">
        <i id="next" class="icon ion-skip-forward refresh" ng-click="next()"></i>
      </a>
    </div>
  </div>
  </div>
</div>

</ion-content>

<div style="position: fixed; bottom: 3.5em; color:white !important">
    <div id="audioPlayer2" style="margin-left: 25%">.</div>
</div>
</ion-view>