<ion-view>
  <ion-content class='has-header'>
    <!-- <label>
    <input type="text" class="form-control" ng-model="myModel.searchString" placeholder='Search: e.g. "Javascript Jabber" or "This American life"' ng-change="search()"/>
    </label> -->
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Search: e.g. 'Javascript Jabber'" ng-model="myModel.searchString" ng-change="search()">
      </label>
    </div>  
    <div ng-repeat="resource in results">
      <div class="item item-button-right">
        {{ resource.text }}
        <button ng-click="sendTags(resource)" class="button button-royal">
          <i class="icon ion-search"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>


