<div ng-controller="searchController" class="md-padding checkboxdemoSyncing" ng-cloak="" style="min-height:270px" ng-app="fickle.search">
<!-- <md-content>
	<md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="Go Back">
        Fickle Piglet
      </md-button>
      <h2>
        <span>Toolbar with Standard Buttons</span>
      </h2>
      <span flex=""></span>
      <md-button class="md-raised" aria-label="Learn More">
        Learn More
      </md-button>
    </div>
  </md-toolbar>
</md-content>
<br> -->
  <div layout="row" layout-wrap="">

    <div flex="100" flex-gt-sm="50" layout="column">
      <div>
        <fieldset class="standard">
          <div layout="row" layout-wrap="" flex="">
            <div flex="50" ng-repeat="item in items">
            <br><br>
              &nbsp &nbsp &nbsp<md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                {{ item }} <span ng-if="exists(item, selected)">selected</span>
              </md-checkbox>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div flex="100">
      <h2 class="md-title">Selected Items</h2>
      <code style="display: block; padding: 8px;">{{selected | json}}</code>
    </div>
  </div>
</div>
