<ion-view>
<ion-content>
<ion-toggle ng-model="shouldShowDelete">
  Edit
</ion-toggle>
<ion-list show-delete="shouldShowDelete">
  <ion-item collection-repeat="item in likedResources">
    <ion-delete-button class="ion-minus-circled"></ion-delete-button>
    <div class="item item-avatar">
       <img src="{{item.thumbnail}}">
       <h3>{{item.name}}</h3>
    </div>
  </ion-item>
</ion-list>
<div class="padding">
    <button ng-click="logout()" class="button button-full button-assertive">
     Logout
    </button>
</div> 
</ion-content>
</ion-view>


