<div id='signin'>
  <h2> Returning User? <h2>
  <h3>Sign In</h3>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username' placeholder="name"> <br>
    <input type="password" ng-model='user.password' placeholder="password "> <br>
    <button>signin</button>
  </form>
</div>



<div id='signup' class="form-horizontal">
  <h2> New user? </h2>
  <form class="form-horizontal" name="signupForm">
    <fieldset>
      <legend>Sign Up</legend>
    <input type='text' ng-model='user.firstname' placeholder="first name"> <br>
    <input type='text' ng-model='user.lastname' placeholder="last name"> <br>
    <input type='text' ng-model='user.name' placeholder="username"> <br>
    <input type='text' ng-model='user.email' placeholder="email"> <br>
    <input type="password" ng-model='user.pword' placeholder="password"> <br>
    <button ng-click="signup(user)">signup</button>
    </fieldset>
  </form>
</div>


