<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username' placeholder="name"> <br>
    <input type="password" ng-model='user.password' placeholder="password "> <br>
    <button>signin</button>
  </form>
</div>


<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' ng-model='user.username' placeholder="name"> <br>
    <input type='text' ng-model='user.email' placeholder="email"> <br>
    <input type="password" ng-model='user.password' placeholder="password"> <br>
    <button>signup</button>
  </form>
</div>